.back-image {
  background-image: url("./images/backend-image.jpg");
  min-height: 100%;
  min-width: 1024px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

p {
  color: black;
  font-size: 60px;
  font-style: italic;
  top: 50%;
  left: 50%;
  position: fixed;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* p {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} */